/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 20px 0px 30px;
  text-align: center;
}


#head{
  font-size: 4em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
  align:center;
  border-bottom: solid;
}
#form{
	width: 35em;
	margin:auto;
	display: top;
}
#formCont{
	width:100%;
	margin-bottom: 2em;
}
.buscador{
	width:30em;
	margin:auto;
	height:2em;
}
.tituloBusqueda{
}
.busq{
	clear:left;
}
.boton{
	margin:auto;
	height:2.5em;
	margin-left:0.5em;
}
#youtube{
	float:right;
	width:40%;
}
#giantBomb{
	float:left;
	width: 20%;
}
#principalCont{
	float:left;
	width: 36%;
	margin: 2%;
}
#titulo{
	font-size: 32px;
	text-shadow: 0 0 3px #FF0000;
}
#nombreGB h1{
	color: red;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
